---
import Layout from "../layouts/Layout.astro";
import ArticlesCateg from "../components/ArticlesCateg.astro";
---

<Layout title="Programación">
  <section>
    <div class="wrapper">
      <h1>Programación</h1>
    </div>
    <ArticlesCateg title="¿Cómo iniciar un proyecto en Astro? 🚀" />
    <a href="/blog-maydev.github.io/posts/como-iniciar-proyecto-en-astro">Post-1</a>
  </section>
</Layout>

<style>
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  h1 {
    margin: 10px 0;
    font-size: 40px;
  }
  p {
    text-align: center;
  }
</style>
