---
import Layout from "../layouts/Layout.astro";
import RecientArticles from "../components/RecientArticles.astro";
---

<Layout title="Programaci贸n">
  <section>
    <div class="wrapper">
      <h1>Programaci贸n</h1>
      <p>En esta secci贸n brindo informaci贸n sobre programaci贸n como tecnolog铆as, frameworks, lenguajes de programaci贸n, 茅tc.</p>
    </div>
    <a href="/posts/como-iniciar-proyecto-en-astro">
      <RecientArticles
      title="驴C贸mo iniciar un proyecto en Astro? "
      date="09/09/23"
      />
    </a>
  </section>
</Layout>

<style>
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  h1 {
    margin: 10px 0;
    font-size: 40px;
  }
  p {
    text-align: center;
    max-width: 75ch ;
  }
  a {
    text-decoration: none;
  }
</style>
