---
import Layout from "../layouts/Layout.astro";
import RecientArticles from "../components/RecientArticles.astro";
---

<Layout title="Programación">
  <section>
    <div class="wrapper">
      <h1>Programación</h1>
      <p>En esta sección brindo información sobre programación como tecnologías, frameworks, lenguajes de programación, étc.</p>
    </div>
    <a href="/posts/como-iniciar-proyecto-en-astro">
      <RecientArticles
      title="¿Cómo iniciar un proyecto en Astro? 🚀"
      date="09/09/23"
      />
    </a>
    <a href="/posts/cors-preflight-soluciones">
      <RecientArticles
      title="¿Qué es el CORS, Preflight y soluciones? ⛔"
      date="12/09/23"
      />
    </a>
    <a href="/posts/tipo-de-operadores">
      <RecientArticles
      title="Tipos de operadores en programación 🧮"
      date="18/09/23"
      />
    </a>
  </section>
</Layout>

<style>
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  h1 {
    margin: 10px 0;
    font-size: 40px;
  }
  p {
    text-align: center;
    max-width: 75ch;
  }
  a {
    text-decoration: none;
  }
</style>
