---
interface Props {
  title: string;
  paraph?: string;
  href?: string;
}

const { title, paraph, href } = Astro.props;
---

<a href={href}>
  <article class="art-cat">
    <h3>{title}</h3>
    <p>{paraph}</p>
  </article>
</a>

<style>
  a {
    color: black;
    text-decoration: none;
  }
  #html.darkmode a {
		color: #fff;
	}
  .art-cat {
    width: 290px;
    padding: 10px;
    border: 3px solid var(--primary-color);
    background-color: var(--bg-article-c);
    border-radius: 15px;
    margin-bottom: 10px;
  }
  h3 {
    font-size: 18px;
    margin: 0;
  }
  p {
    font-size: 12px;
    margin: 0;
  }
  @media screen and (width >= 425px) {
    .art-cat {
      width: 350px;
    }
  }
  @media screen and (width >= 768px) {
    .art-cat {
      width: 450px;
    }
  }
  @media screen and (width >= 1024px) {
    .art-cat {
      width: 470px;
    }
  }
  @media screen and (width >= 1440px) {
    .art-cat {
      width: 600px;
    }
    h3 {
      font-size: 23px;
    }
  }
</style>
