---
  interface Props {
    title: string;
    paraph: string;
  }

  const { title, paraph } = Astro.props;
---

<article class="art-cat">
  <h3>{title}</h3>
  <p>{paraph}</p>
</article>

<style>
  .art-cat {
    background-color: var(--bg-article-c);
    border: 3px solid var(--primary-color);
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 10px;
  }
  h3 {
    font-size: 20px;   
    margin: 0; 
  }
  p {
    font-size: 14px;
    margin: 0;
  }
  @media screen and (width >= 425px) {
    .art-cat {
      width: 350px;
    }
  }
  @media screen and (width >= 768px) {
    .art-cat {
      width: 450px;
    }
  }
  @media screen and (width >= 1024px) {
    .art-cat {
      width: 470px;
    }
  }
</style>