---
import ArticlesCateg from "../components/ArticlesCateg.astro";
import RecientArticles from "../components/RecientArticles.astro";
---

<section class="article">
  <div class="wrapper-article">
    <h1>Artículos por categorías</h1>
    <ArticlesCateg
      title="Hardware"
      paraph="En esta sección brindo opiniones e información sobre hardware."
      href="/hardware"
    />
    <ArticlesCateg
      title="Programación"
      paraph="En esta sección comparto información sobre programación, y mis estudios como autodidácta."
      href="/programacion"
    />
    <h3>Últimos artículos</h3>
    <a href="/posts/como-iniciar-proyecto-en-astro">
      <RecientArticles
        title="¿Cómo iniciar proyecto en Astro? 🚀"
        paraph="Programación"
        date="09/09/23"
      />
    </a>
    <a href="/posts/cors-preflight-soluciones">
      <RecientArticles
      title="¿Qué es el CORS, Preflight y soluciones? ⛔"
      paraph="Programación"
      date="12/09/23"
      />
    </a>
    <a href="/posts/tipo-de-operadores">
      <RecientArticles
      title="Tipos de operadores en programación 🧮"
      paraph="Programación"
      date="18/09/23"
      />
    </a>
  </div>
</section>

<style>
  .article {
    max-width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
  }
  .wrapper-article {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #html.darkmode h1 {
		color: #fff;
	}
  h1 {
    font-size: 25px;
    padding-bottom: 10px;
  }
  h3 {
    padding-bottom: 10px;
  }
  a {
    text-decoration: none;
  }
  @media screen and (width >= 425px) {
    .wrapper-article {
      display: flex;
      padding: 0 15px;
    }
    h1 {
      font-size: 30px;
    }
  }
  @media screen and (width >= 1024px) {
    .article {
      width: 100%;
      height: 100vh;
      align-items: start;
      margin-top: 40px;
    }
  }
  @media screen and (width >= 1440px) {
    h1 {
      font-size: 35px;
      margin-bottom: 20px;
    }
    h3 {
      font-size: 20px;
      margin: 10px 0;
    }
  }
</style>
