---
const posts = await Astro.glob("../pages/posts/*.md");

const titlesPost = posts.map((post) => post.frontmatter.title);

const ancorsPost = posts.map((post) => post.frontmatter.ancors);
console.log(ancorsPost[0])

const subtitlesPosts = posts.map((post) => post.frontmatter.articleHeadings);
console.log(subtitlesPosts[0])

---
<nav>
  <h5>Contenido del artículo</h5>
  <ul>
    <!-- <li>
      <a href="#1">Subtitulo 1</a>
    </li>
    <li>
      <a href="#2">Subtitulo 2</a>
    </li>
    <li>
      <a href="#3">Subtitulo 3</a>
    </li> -->
  </ul>
</nav>
