---
import Layout from "./Layout.astro";
import NavArticles from "../components/NavArticles.astro";
const posts = await Astro.glob("../pages/posts/*.md");

// const prueba2 = posts.map((post) => post.frontmatter);
// console.log(prueba2)

---

<!-- 
Cosas por hacer y arreglar:
  - Arreglar el boton para cambiar el modo ❌
  - Arreglar el navegador secundario de cada artículo para que sea 
    reutilizable ==> a medias, falta hacer que se de cuenta que articulos es cual ❌
-->
<Layout title={""}>
  <section class="container-post">
    <div class="wrapper-post">
      <slot />
    </div>
    <NavArticles />
  </section>
</Layout>

<style is:global>
  .container-post {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 15px;
  }
  .container-post h1 {
    font-size: 20px;
  }
  .container-post h4 {
    font-size: 13px;
    padding: 5px;
    background-color: #32cd3277;
    margin: 10px 0;
  }
  .container-post h3 {
    font-size: 14px;
    margin: 10px 0;
  }
  .container-post p {
    font-size: 12px;
    margin-bottom: 5px;
  }
  .container-post pre {
    width: 250px;
    position: relative;
    padding: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    margin: 5px 0 10px 10px;
  }
  .container-post table {
    background-color: #24292e;
    color: white;
    margin-bottom: 15px;
  }
  .container-post table td {
    font-size: 10px;
    font-weight: 400;
  }
  .container-post table span {
    color: #32cd32;
  }
  .container-post .cors-solution {
    position: relative;
  }
  .container-post .cors-solution pre {
    width: 100%;
  }
  .container-post .cors-art img,
  .astro-art img {
    width: 98%;
  }
  .container-post .cors-solution::after {
    position: absolute;
    content: "JS";
    right: 20px;
    top: 0;
    padding: 2px 4px 2px 6px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
    font-size: 14px;
    font-weight: 600;
    color: black;
    background-color: #fffb00;
  }
  .container-post .cors-solution .line span {
    font-size: 10px;
  }
  .container-post .strong {
    padding: 1px 6px;
    background-color: #32cd3277;
    border-radius: 5px;
  }
  .container-post .list {
    padding: 0 4px;
    background-color: #0074d977;
    border-radius: 3px;
  }
  .container-post nav {
    display: none;
  }
  .wrapper-post {
    max-width: 60ch;
    display: flex;
    flex-direction: column;
  }
  @media screen and (width >= 768px) {
    .container-post h1 {
      font-size: 40px;
    }
    .container-post p {
      font-size: 16px;
      margin-bottom: 10px;
    }
    .container-post h4 {
      font-size: 15px;
      padding: 10px;
    }
    .container-post h3 {
      font-size: 17px;
    }
    .container-post table td {
      font-size: 12px;
    }
    .container-post .astro-art img {
      width: 90%;
    }
  }
  @media screen and (width >= 1024px) {
    .wrapper-post {
      max-width: 70ch;
      margin-left: 10px;
    }
    .container-post h1 {
      font-size: 28px;
    }
    .container-post h3 {
      font-size: 15px;
      margin: 20px 0;
    }
    .container-post h4 {
      padding: 14px;
      margin: 20px 0;
    }
    .container-post p {
      font-size: 13px;
    }
    .container-post table td {
      font-size: 14px;
      padding: 0 8px;
    }
    .container-post {
      display: grid;
      grid-template-columns: 65% 35%;
      padding: 20px;
    }
    .container-post nav {
      position: fixed;
      right: 0;
      margin-right: 15px;
      height: 95px;
      display: block;
      text-align: end;
      margin-top: 50px;
    }
    .container-post h5 {
      font-size: 10px;
    }
    .container-post ul {
      padding-right: 10px;
      border-right: 2px solid #32cd32;
    }
    .container-post nav a {
      color: black;
      font-size: 10px;
      text-decoration: none;
    }
    .container-post nav a:hover {
      background-color: #32cd3277;
    }
    .container-post .astro-art img {
      width: 70%;
    }
  }
  @media screen and (width >= 1440px) {
    .container-post h1 {
      font-size: 35px;
    }
    .container-post h4 {
      font-size: 16px;
      padding: 10px;
    }
    .container-post h3 {
      font-size: 20px;
    }
    .container-post p {
      font-size: 16px;
    }
    .wrapper-post {
      max-width: 75ch;
    }
    .container-post h5 {
      font-size: 12px;
    }
    .container-post nav a {
      font-size: 12px;
      padding: 2px;
    }
    .container-post .cors-solution .line span {
      font-size: 14px;
    }
  }
</style>