<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="../../public/IconoPortafolio2.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Blog maydev</title>
  </head>
  <body>
    <slot />
  </body>
</html>
</html>
