---
import "@fontsource/poppins";
import { ViewTransitions } from "astro:transitions";
import ThemeIcon from "../components/ThemeIcon.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es" id="html">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/assets/IconoPortafolio2.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body>
		<main>
			<div class="left">
				<section>
					<header>
						<a href="/">
							<img src="/assets/LogoPortafolio.webp" alt="Logo de MayDev" />
						</a>
						<ThemeIcon />
					</header>
					<div class="body">
						<h2>
							Blog sobre
							<span>tecnologías y programación.</span>
						</h2>
						<div class="cont-input">
							<input
								type="search"
								placeholder="Busca el contenido que quieras.."
								name="search"
								id="search-article"
							/>
						</div>
					</div>
					<footer>
						<ul>
							<li>
								<a href="https://github.com/MayDenot" target="_blank">Github</a>
							</li>
							<li>
								<a
									href="https://www.linkedin.com/in/mayra-denot-dev/"
									target="_blank">Linkedin</a
								>
							</li>
							<li>
								<a href="https://maydenot.vercel.app" target="_blank"
									>Portafolio</a
								>
							</li>
						</ul>
					</footer>
				</section>
			</div>
			<slot />
		</main>
		<style>
			section {
				width: 100%;
				height: 300px;
				background-color: var(--primary-color);
				display: flex;
				flex-direction: column;
				align-items: center;
			}
			header {
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding: 15px;
			}
			header img {
				width: 15%;
				cursor: pointer;
				transition: 0.3s ease-out;
			}
			header img:hover {
				scale: 1.1;
			}
			h2 {
				max-width: 20ch;
				font-size: 20px;
				font-weight: 600;
				margin-top: 5px;
				margin-bottom: 15px;
			}
			h2 span {
				color: var(--secundary-color);
				text-shadow: 0 0 8px var(--secundary-color);
			}
			input {
				width: 100%;
				height: 35px;
				border-radius: 10px;
				border: 0;
				outline: none;
				background-color: rgba(255, 255, 255, 50%);
				padding: 0 15px;
			}
			input::placeholder {
				font-size: 12px;
				color: black;
				opacity: 0.6;
			}
			footer {
				margin-top: 60px;
			}
			ul {
				display: flex;
				padding: 0;
				gap: 25px;
			}
			ul li {
				list-style: none;
				transition: 0.2s ease-in-out;
			}
			li a {
				font-size: 14px;
				color: black;
				text-decoration: none;
				font-weight: 500;
			}
			ul li:hover a {
				color: var(--secundary-color);
				text-shadow: 0 0 5px var(--secundary-color);
			}
			@media screen and (width >= 768px) {
				section {
					height: 330px;
					gap: 20px;
				}
				header {
					width: 100%;
					justify-content: space-around;
					padding: 10px 0;
				}
				header img {
					width: 20%;
				}
				header svg {
					height: 2.5em;
					margin-right: 10px;
				}
				h2 {
					max-width: 25ch;
					font-size: 26px;
				}
				li a {
					font-size: 15px;
				}
				footer {
					margin-top: 20px;
				}
			}
			@media screen and (width >= 1024px) {
				section {
					position: fixed;
					width: 30vw;
					height: 100%;
					display: flex;
					justify-content: space-between;
				}
				header {
					justify-content: space-between;
				}
				header img {
					margin-left: 50px;
				}
				header svg {
					height: 2.8em;
					margin-right: 60px;
				}
				.body {
					padding: 30px;
				}
				h2 {
					font-size: 20px;
				}
				ul {
					padding: 0;
					margin-bottom: 30px;
				}
				li a {
					font-size: 14px;
				}
				footer {
					margin-bottom: 15px;
				}
			}
			@media screen and (width >= 1440px) {
				section {
					width: 40vw;
				}
				header img {
					width: 20%;
				}
				header svg {
					height: 2.6em;
				}
				.body {
					padding: 0;
				}
				h2 {
					font-size: 30px;
				}
				li a {
					font-size: 20px;
				}
				input {
					height: 40px;
				}
				input::placeholder {
					font-size: 14px;
				}
			}
		</style>
		<style is:global>
			:root {
				--bg-light: #ffffff;
				--bg-dark: #2a4359;
				--primary-color: #0074d9;
				--secundary-color: #32cd32;
				--tertiary-color: #333333;
				--quaternary-color: #c0c0c0;
				--bg-article-c: rgba(0, 116, 217, 25%);
				--bg-article-r: rgba(50, 205, 50, 25%);
			}
			* {
				margin: 0;
				padding: 0;
				box-sizing: border-box;
				font-family: "Poppins", sans-serif;
				overflow-x: hidden;
			}
			#html {
				scroll-behavior: smooth;
			}
			#html.darkmode {
				background-color: #2a4359;
			}
			#html.darkmode #moon {
				display: none;
			}
			#html.darkmode #sun {
				display: block;
			}
			#html.darkmode h3 {
				color: #fff;
			}
			#html.darkmode h1 {
				color: #fff;
			}
			#html.darkmode p {
				color: #fff;
			}
			#html.darkmode nav {
				color: #fff;
			}
			#html.darkmode .container-post ul li a {
				color: #fff;
			}
			#html.darkmode h5 {
				color: #fff;
			}
			#html.darkmode h4 {
				color: #fff;
			}
			header svg {
				margin-right: 10px;
			}
			#html.darkmode .oper-art table {
				color: white;
				border: 2px solid #0074d9;
			}
			#html.darkmode .oper-art table {
				border: 2px solid #32cd3277;
			}
			#html.darkmode .oper-art thead {
				background-color: #32cd3277;
			}
			#html.darkmode .oper-art td {
				background-color: #32cd3277;
			}
			@media screen and (width >= 1024px) {
				main {
					width: 100vw;
					height: 100%;
					display: grid;
					grid-template-columns: 30vw 70vw;
				}
				.left {
					grid-column: 1;
				}
				header svg {
					margin-right: 40px;
				}
			}
			@media screen and (width >= 1440px) {
				main {
					grid-template-columns: 40vw 60vw;
				}
			}
		</style>
		<script type="module">
			const btnDarkmode = document.querySelector("#moon");
			const htmlContent = document.querySelector("#html");

			btnDarkmode.addEventListener("click", () => {
				htmlContent.classList.toggle("darkmode");
			});
		</script>
	</body>
</html>
